.introduce-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background: #fffefc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #5a3e2b;
}
.map-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.map-wrapper {
  width: 100%;
  max-width: 100%;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.custom-map {
  width: 100%;
  height: 100%;
}

.address {
  font-size: 1rem;
  color: #444;
}



.description {
  font-size: 1.1rem;
  margin-bottom: 25px;
  line-height: 1.6;
}

.info-section p,
.hours-section li {
  margin: 8px 0;
  font-size: 1rem;
}

.hours-section {
  margin-top: 30px;
}

.hours-section h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #4b382a;
}

.updated {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
}
